@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
main{
display: flex;
}
.Button, .Button1, .Button2{
    margin: 2%;
    border-radius: 46px;
    padding: 1%;
    height: 16px;
    width: 93px;
    text-align: center;
    font-family: Inter;
    text-decoration: none;

}
.Button{
    border: 5px solid rgba(244, 148, 5, 0.50);
    background: #FAFD6A;
    color: #4481DC;
   
}
.Button1{
    color: #FF7183;
    border: 5px solid #5FC146;
    background: #95FF7A;
}
.Button2{
    border: 7px solid #D85ECC;
    background: #F383E8;
    color: #F4F847;
}